<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
    <title>RockeyProject</title>
</head>
<body>

    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="row"> 
            <div class="col text-center align-middle">
                <a class="float-left navbar-brand" href="/Home/Homepage">Rockey Project</a>
                <a class="btn-lg m-0" href="@Url.Action("List","Product")">Products</a>
                <a class="btn-lg m-0" href="@Url.Action("List","Order")">Orders</a>
                <a class="btn-lg m-0" href="@Url.Action("Contact","Home")">Contact Us</a>
                <a class="btn-lg m-0" href="@Url.Action("About","Home")">About</a>
                <div class="float-right text-right m-2">
                    @await Component.InvokeAsync("CartSummary")
                </div>
                <a class="btn float-right btn-primary" href="@Url.Action("Signup","Account")">Sign Up</a>
                <a class="btn float-right" href="@Url.Action("Login","Account")">Login</a>

            </div>
        </div>
    </div>
    <div class="col-11" >
        @RenderBody()
    </div>
    <footer class="footer fixed-bottom bg-faded">
        
        @await  Html.PartialAsync("Footer")  
    </footer>
    
   
</body>
</html>
